<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.UserMapper">

    <select id="getUsers" resultType="User">
        select * from tbl_user;
    </select>

    <insert id="addUser">
        insert into tbl_user(user_name,user_age) values (#{userName},#{userAge})
    </insert>

    <select id="getUsersByName" resultType="User">
        select * from tbl_user where user_name = #{userName}
    </select>

</mapper>